$black: #000;
$gray87: rgba($black, 0.87);
$gray54: rgba($black, 0.54);
$gray26: rgba($black, 0.26);
$gray12: rgba($black, 0.12);
$gray06: rgba($black, 0.06);

$white: #fff;

$primary: #4e6cef;
$primary-light: #afbfff;
$primary-dark: #2a36b1;

$accent: #ff5177;
$accent-light: #ff7997;
$accent-dark: #e00032;

$danger: #e51c23;
$danger-dark: #d01716;
$success: #259b24;
$success-dark: #0a7e07;
$info: #9c27b0;
$info-dark: #4a148c;