.navbar {
  background-color: $white;
  border-color: $gray12;

  &.navbar-default .navbar-nav {
    > li > a {
      padding-bottom: 13px;
      border-bottom: 2px solid transparent;
    }

    > .active > a {
      background-color: transparent;
      border-bottom-color: $accent;

      i {
        color: $gray87;
      }
    }
  }
}