@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.375em;
  color: $gray87;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

small, i, label {
  color: $gray54;
}

a {
  color: $primary;

  &:hover, &:active, &:focus {
    color: $primary-dark;

    i {
      color: $gray87;
    }
  }

  &.visited, &:visited {
    color: $info-dark;
  }
}

.text-danger, .text-danger small {
  color: $danger;
}