<div class="row">
  <div class="col-sm-4 home-entries-column">
    <ul class="home-entries list-unstyled">
      <li ng-repeat="entry in entries[0]" ng-include="'_entry_item.html'"></li>
      <div ng-include="'_loading.html'" nl-infinite-scroll></div>
    </ul>
  </div>
  <div class="col-sm-4 home-entries-column">
    <ul class="home-entries list-unstyled">
      <li ng-repeat="entry in entries[1]" ng-include="'_entry_item.html'"></li>
    </ul>
    <div ng-include="'_loading.html'" nl-infinite-scroll></div>
  </div>
  <div class="col-sm-4 home-entries-column">
    <ul class="home-entries list-unstyled">
      <li ng-repeat="entry in entries[2]" ng-include="'_entry_item.html'"></li>
    </ul>
    <div ng-include="'_loading.html'" nl-infinite-scroll></div>
  </div>
</div>