    <% if (process.env.NODE_ENV === 'development') { %>
      <script src="/javascripts/components.js"></script>
      <script src="/javascripts/main.js"></script>
    <% } else { %>
      <script src="http://grizzly-feed-1635000388.us-west-2.elb.amazonaws.com/javascripts/components.min.fd0ffbff.js"></script>
      <script src="http://grizzly-feed-1635000388.us-west-2.elb.amazonaws.com/javascripts/main.min.e82b9e69.js"></script>
    <% } %>

  </body>
</html>