    <% if (process.env.NODE_ENV === 'development') { %>
      <script src="/javascripts/components.js"></script>
      <script src="/javascripts/main.js"></script>
    <% } else { %>
      <script src="/javascripts/components.min.fd0ffbff.js"></script>
      <script src="/javascripts/main.min.911efa3d.js"></script>
    <% } %>

  </body>
</html>