<!doctype html>
<html lang="en" ng-app="nl.Main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="/">

    <title>GrizzlyFeed</title>

    <meta name="description" content="GrizzlyFeed - Feeding the web">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <% if (process.env.NODE_ENV === 'development') { %>
      <link rel="stylesheet" href="/stylesheets/vendor.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
    <% } else { %>
      <link rel="stylesheet" href="/stylesheets/vendor.min.0a835deb.css">
      <link rel="stylesheet" href="/stylesheets/main.min.7a583886.css">
    <% } %>

    <!--
    <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina-precomposed.png">
    -->
  </head>
  <body>
