<div class="panel panel-default" >
  <div class="panel-heading">
    <h4 class="panel-title"><a ng-href="{{userFeed.feed.link}}" target="_blank">{{userFeed.feed.title}}</a></h4>
    <div class="feed-icons">
      <span class="handle feed-icon" sortable-item-handle>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
        <span class="handlebar"></span>
      </span>
      <i class="fa fa-cog feed-icon" ng-click="editFeed(userFeed)"></i>
    </div>
  </div>
  <div class="panel-body">
    <ol class="list-unstyled" >
      <li ng-repeat="entry in userFeed.feed.entries">
        <div class="entry-read-icons">
          <i class="fa fa-play" ng-class="{'fa-rotate-90':entry.expand}" ng-click="expand(entry)"></i>
          <i class="fa fa-eye-slash" ng-click="markAsVisited(entry)"></i>
        </div>
        <div class="entry-snapshot">
          <a ng-href="{{entry.link}}" ng-class="{visited: isVisited(entry)}" target="_blank" ng-click="markAsVisited(entry)">{{entry.title}}</a>
          <p class="entry-meta">
            <small>
              {{entry.pubdate | date:"EEE MMM d, y 'at' h:mm a"}}
              <span ng-if="entry.author"> | {{entry.author}}</span>
              <!--<span class="entry-feed"> | via <a ng-href="{{userFeed.feed.link}}">{{userFeed.feed.title}}</a></span>-->
            </small>
          </p>
          <p class="entry-meta">
            <!--<small class="entry-categories-separator" ng-if="entry.categories.length"> | </small>-->
            <small class="entry-category" ng-repeat="category in entry.categories | limitTo:3">#{{category}}</small>
          </p>
        </div>
        <p class="entry-summary clearfix" ng-show="entry.expand" ng-bind-html="entry.description || entry.summary"></p>
      </li>
    </ol>
  </div>
</div>