<div class="row">
  <div class="col-sm-6 hidden-xs">
    <h2 class="page-heading"><small>Find & Add Feeds</small></h2>
  </div>
  <div class="col-sm-6 col-xs-12" id="new-form-feeds-container">
    <div class="new-forms" ng-class="{toggle:toggle}">
      <i class="fa fa-link new-form-toggle" ng-click="toggle = !toggle"></i>
      <form class="form-horizontal" name="searchForm" role="form" novalidate>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search feeds">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>

      <i class="fa fa-search new-form-toggle" ng-click="toggle = !toggle"></i>
      <form class="form-horizontal" name="addForm" role="form" novalidate>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add a feed URL">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-link"></i></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>
    </div>
  </div>
</div>

<div class="divider"></div>