
<div id="feed-container">
<div class="row">
  <div class="col-sm-4">
    <ul class="user-feeds list-unstyled" data-sortable="sortableConfig" ng-model="feeds[0]">
      <li ng-repeat="userFeed in feeds[0]" ng-include="'_feed_item.html'" sortable-item>
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    <ul class="user-feeds list-unstyled" data-sortable="sortableConfig" ng-model="feeds[1]">
      <li ng-repeat="userFeed in feeds[1]" ng-include="'_feed_item.html'" sortable-item>
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    <ul class="user-feeds list-unstyled" data-sortable="sortableConfig" ng-model="feeds[2]">
      <li ng-repeat="userFeed in feeds[2]" ng-include="'_feed_item.html'" sortable-item>
      </li>
    </ul>
  </div>
</div>
</div>