@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.375em;
  color: rgba(0, 0, 0, 0.87);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

small, .small {
  font-size: 75%;
}

small, i, label {
  color: rgba(0, 0, 0, 0.54);
}

i {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

a {
  color: #4e6cef;
}
a:hover, a:active, a:focus {
  color: #2a36b1;
}
a:hover i, a:active i, a:focus i {
  color: rgba(0, 0, 0, 0.87);
}
a.visited, a:visited {
  color: #4a148c;
}

blockquote {
  font-size: inherit;
  padding: 10px 15px;
  border-left: 4px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.68);
}

.text-danger, .text-danger small {
  color: #e51c23;
}

.btn, button, button.btn {
  border-radius: 2px;
  outline: none;
}
.btn:hover, button:hover, button.btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
}
.btn:active, .btn:focus, .btn:active:focus, button:active, button:focus, button:active:focus, button.btn:active, button.btn:focus, button.btn:active:focus {
  outline: none;
  box-shadow: none;
}
.btn:disabled, button:disabled, button.btn:disabled {
  box-shadow: none;
}

button.dismiss:hover {
  box-shadow: none;
}

.btn.btn-link {
  color: rgba(0, 0, 0, 0.54);
}
.btn.btn-link:hover {
  color: rgba(0, 0, 0, 0.54);
  box-shadow: none;
}

.input-group-btn .btn.btn-default {
  border-color: rgba(0, 0, 0, 0.12);
}
.input-group-btn .btn.btn-default:hover {
  box-shadow: none;
}

.btn.btn-default {
  color: rgba(0, 0, 0, 0.54);
  border-color: transparent;
}
.btn.btn-default:hover {
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(0, 0, 0, 0.06);
  border-color: transparent;
}
.btn.btn-default:active, .btn.btn-default:focus {
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.btn.btn-primary {
  color: #fff;
  background-color: #4e6cef;
  border-color: #2d51ec;
}
.btn.btn-primary:hover {
  background-color: #4e6cef;
  border-color: #2d51ec;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #2a36b1;
  border-color: #232d94;
}

.btn.btn-danger {
  color: #fff;
  background-color: #e51c23;
  border-color: #c7171d;
}
.btn.btn-danger:hover {
  background-color: #e51c23;
  border-color: #c7171d;
}
.btn.btn-danger:active, .btn.btn-danger:focus {
  background-color: #d01716;
  border-color: #b01313;
}

.btn.btn-success {
  color: #fff;
  background-color: #259b24;
  border-color: #1e7e1d;
}
.btn.btn-success:hover {
  background-color: #259b24;
  border-color: #1e7e1d;
}
.btn.btn-success:active, .btn.btn-success:focus {
  background-color: #0a7e07;
  border-color: #075c05;
}

input, select, textarea, .form-control {
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
}
input:focus, select:focus, textarea:focus, .form-control:focus {
  border-color: #afbfff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 8px rgba(175, 191, 255, 0.6);
}

.has-error input, .has-error select, .has-error textarea, .has-error .form-control {
  border-color: #e51c23;
}
.has-error input:focus, .has-error select:focus, .has-error textarea:focus, .has-error .form-control:focus {
  border-color: #e51c23;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 8px rgba(229, 28, 35, 0.6);
}
.has-error .form-control + .text-danger {
  font-size: 85%;
  margin-bottom: 0;
  margin-top: 3px;
}

div.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.12);
}

.loading-spinner {
  margin: 30px auto;
  width: 25px;
  height: 25px;
  position: relative;
}

.loading-spinner-container1 > div, .loading-spinner-container2 > div {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loading-spinner .loading-spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-spinner-container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.loading-spinner-circle1 {
  top: 0;
  left: 0;
}

.loading-spinner-circle2 {
  top: 0;
  right: 0;
}

.loading-spinner-circle3 {
  right: 0;
  bottom: 0;
}

.loading-spinner-circle4 {
  left: 0;
  bottom: 0;
}

.loading-spinner-container2 .loading-spinner-circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-spinner-container1 .loading-spinner-circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-spinner-container2 .loading-spinner-circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loading-spinner-container1 .loading-spinner-circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loading-spinner-container2 .loading-spinner-circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading-spinner-container1 .loading-spinner-circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.loading-spinner-container2 .loading-spinner-circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.navbar {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
}
.navbar .navbar-header .navbar-brand {
  font-family: 'Fauna One', serif;
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
}
.navbar .navbar-header .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.87);
}
.navbar .navbar-header .navbar-brand img {
  max-height: 90%;
  margin-top: -3px;
  margin-left: 3px;
}
.navbar.navbar-default .navbar-nav > li > a {
  padding-bottom: 13px;
  border-bottom: 2px solid transparent;
}
.navbar.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom-color: #ff5177;
}
.navbar.navbar-default .navbar-nav > .active > a i {
  color: rgba(0, 0, 0, 0.87);
}

.panel.panel-default {
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.panel.panel-default .panel-heading {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.panel.panel-default .panel-heading .panel-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
.panel.panel-default .panel-heading .panel-title a:visited {
  color: rgba(0, 0, 0, 0.54);
}
.panel.panel-default .panel-heading .panel-title a:hover, .panel.panel-default .panel-heading .panel-title a:active, .panel.panel-default .panel-heading .panel-title a:focus {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.panel.panel-default .panel-body form {
  margin-top: 15px;
}

.modal-dialog .modal-content {
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.12);
}
.modal-dialog .modal-content .modal-header, .modal-dialog .modal-content .modal-footer {
  margin: 0 10px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.12);
}
.modal-dialog .modal-content .modal-header .modal-title, .modal-dialog .modal-content .modal-footer .modal-title {
  color: rgba(0, 0, 0, 0.54);
}
.modal-dialog .modal-content .modal-body {
  padding: 15px 20px;
}

.snackbar {
  border-radius: 2px;
}
.snackbar .snackbar-message {
  font-weight: 600;
}

@media (max-width: 768px) {
  .snackbar {
    border-radius: 0;
  }
}
/* ng-sortable css file */
.sortable-item, .sortable-placeholder {
  display: block;
  min-height: 20px;
}

.sortable-placeholder {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.sortable-drag {
  position: absolute;
  pointer-events: none;
  opacity: .8;
  z-index: 9999;
}

.sortable-hidden {
  display: none !important;
}

#feed-container .row {
  padding-bottom: 7px;
}
#feed-container #refresh {
  border-radius: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
}
#feed-container #refresh:hover {
  background-color: #ff5177;
}
#feed-container #refresh:hover i {
  color: #fff;
}
#feed-container #refresh:focus, #feed-container #refresh:active {
  background-color: #e00032;
}
#feed-container .refresh-text {
  padding-top: 7px;
  padding-right: 7px;
}

.feed-layout-option {
  padding: 4px;
  cursor: pointer;
  margin: 1px;
}
.feed-layout-option.active {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #ff5177;
}
.feed-layout-option:hover {
  color: rgba(0, 0, 0, 0.87);
}

.user-feed-column {
  padding-left: 7px;
  padding-right: 7px;
}

.user-feeds {
  min-height: 60px;
}
.user-feeds > li {
  margin-bottom: 14px;
}
.user-feeds .panel {
  margin-bottom: 0;
}
.user-feeds .panel .panel-heading .feed-icons {
  position: absolute;
  right: 5px;
  top: 0;
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon {
  padding: 11px 5px;
  float: right;
  display: block;
  cursor: pointer;
  line-height: 16px;
  visibility: hidden;
  color: rgba(0, 0, 0, 0.12);
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon:hover {
  color: rgba(0, 0, 0, 0.54);
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon:hover.handle .handlebar {
  background-color: rgba(0, 0, 0, 0.54);
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon.handle {
  width: 18px;
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon.handle:hover {
  cursor: move;
}
.user-feeds .panel .panel-heading .feed-icons .feed-icon.handle .handlebar {
  height: 2px;
  width: 2px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.12);
  float: left;
  margin: 1px;
}
.user-feeds .panel .panel-heading:hover .feed-icons .feed-icon {
  visibility: visible;
}
.user-feeds .panel .panel-body {
  padding: 0;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry {
  padding: 10px 15px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry:last-child {
  border-bottom: none;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry:hover .entry-read-icons {
  visibility: visible;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-read-icons {
  float: left;
  margin-left: -12px;
  padding: 1px;
  visibility: hidden;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-read-icons i {
  font-size: 11px;
  padding: 5px 6px;
  cursor: pointer;
  display: block;
  color: rgba(0, 0, 0, 0.12);
  -webkit-transition: transform 50ms ease-out;
  -moz-transition: transform 50ms ease-out;
  -o-transition: transform 50ms ease-out;
  transition: transform 50ms ease-out;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-read-icons i:hover {
  color: rgba(0, 0, 0, 0.54);
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-snapshot {
  padding: 0 0 0 15px;
  min-height: 42px;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta {
  margin: 0;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta .entry-feed-title, .user-feeds .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta .entry-categories-separator {
  display: none;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta .entry-category {
  margin-right: 3px;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-summary {
  margin: 0;
  padding-top: 10px;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-summary img {
  max-width: 100%;
  margin: 10px auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  display: block;
}
.user-feeds .panel .panel-body .feed-entries .feed-entry .entry-summary ul, .user-feeds .panel .panel-body .feed-entries .feed-entry .entry-summary ol {
  margin-bottom: 10px;
  padding: 0 0 0 16px;
}

.user-feed-column.layout-list {
  float: none;
  width: 100%;
}

.list-view .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-title {
  display: block;
}
.list-view .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta {
  display: inline;
}
.list-view .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta .entry-categories-separator {
  display: inline;
}
.list-view .panel .panel-body .feed-entries .feed-entry .entry-summary img {
  max-width: 33%;
  margin-left: 0;
  display: block;
}

.thLarge-view .panel {
  border: none;
  background-color: transparent;
}
.thLarge-view .panel .panel-heading {
  display: none;
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry:last-child {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry .entry-read-icons .expand {
  display: none;
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-title {
  font-size: 20px;
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry .entry-snapshot .entry-meta .entry-feed-title {
  display: inline;
}
.thLarge-view .panel .panel-body .feed-entries .feed-entry .entry-summary {
  display: block !important;
}

#new-form-feeds-container {
  height: 43px;
  padding-top: 3px;
  overflow: hidden;
}
#new-form-feeds-container .new-forms {
  -webkit-transition: margin-top 200ms ease-out;
  -moz-transition: margin-top 200ms ease-out;
  -o-transition: margin-top 200ms ease-out;
  transition: margin-top 200ms ease-out;
}
#new-form-feeds-container .new-forms.toggle {
  margin-top: -50px;
}
#new-form-feeds-container .new-forms .new-form-toggle {
  float: right;
  padding: 10px 15px;
  cursor: pointer;
}
#new-form-feeds-container .new-forms .form-group {
  margin-left: 0;
  margin-right: 0;
}

.new-feeds .new-feed {
  padding-left: 7px;
  padding-right: 7px;
}
.new-feeds .new-feed .panel {
  height: 147px;
}
.new-feeds .new-feed .panel .panel-heading {
  background-color: #fff;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.new-feeds .new-feed .panel .panel-heading .panel-title {
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  font-size: 14px;
}
.new-feeds .new-feed .panel .panel-heading i {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.new-feeds .new-feed .panel .panel-heading i.fa-plus {
  color: rgba(0, 0, 0, 0.26);
}
.new-feeds .new-feed .panel .panel-heading i.fa-plus:hover {
  color: #259b24;
}
.new-feeds .new-feed .panel .panel-heading i.fa-check {
  color: #4e6cef;
}
.new-feeds .new-feed .panel .panel-heading i.fa-times {
  color: #e51c23;
}
.new-feeds .new-feed .panel .panel-body {
  padding: 10px;
}
.new-feeds .new-feed .panel .panel-body ul li {
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.new-feeds .new-feed .panel .panel-body ul li:first-child {
  padding-top: 0;
}
.new-feeds .new-feed .panel .panel-body ul li a:hover {
  text-decoration: none;
}
.new-feeds .new-feed .panel .panel-body ul li a:hover small {
  color: rgba(0, 0, 0, 0.87);
}

.account-section {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  padding: 15px;
  min-height: 125px;
}
.account-section .form-inline .form-group {
  vertical-align: top;
  min-height: 70px;
  width: 24%;
  margin-right: 1%;
}
.account-section .form-inline .form-group .form-control {
  width: 100%;
}

.home-entries-column {
  padding-left: 7px;
  padding-right: 7px;
}
.home-entries-column .panel .panel-heading {
  display: none;
}
.home-entries-column .panel .panel-body .entry-snapshot .entry-title {
  font-size: 20px;
  display: block;
}
.home-entries-column .panel .panel-body .entry-snapshot .entry-meta {
  margin: 0;
}
.home-entries-column .panel .panel-body .entry-snapshot .entry-meta .entry-categories {
  margin-right: 3px;
}
.home-entries-column .panel .panel-body .entry-summary {
  margin: 0;
  padding-top: 10px;
}
.home-entries-column .panel .panel-body .entry-summary img {
  margin: 10px auto;
  max-width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.page-heading {
  margin-top: 0px;
}

body {
  padding-top: 70px;
  -webkit-backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.06);
}

/*# sourceMappingURL=main.css.map */
