#new-form-feeds-container {
  height: 43px;
  padding-top: 3px;
  overflow: hidden;

  .new-forms {
    -webkit-transition: margin-top 200ms ease-out;
    -moz-transition: margin-top 200ms ease-out;
    -o-transition: margin-top 200ms ease-out;
    transition: margin-top 200ms ease-out;

    &.toggle {
      margin-top: -50px;
    }

    .new-form-toggle {
      float: left;
      padding: 10px 15px;
      cursor: pointer;
    }

    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }
}