/* ng-sortable css file */
.sortable-item, .sortable-placeholder {
  display:block;
  min-height:20px;
}

.sortable-item{
}

.sortable-placeholder {
  border: 1px solid $gray12;
  box-sizing:border-box;
  background-color: $white;
  box-shadow: inset 0 1px 2px $gray12;
  border-radius: 2px;
}

.sortable-drag{
  position:absolute;
  pointer-events:none;
  opacity:.8;
  z-index:9999
}

.sortable-hidden{
  display: none !important;
}

#feed-container {
  .row {
    padding-bottom: 7px;
  }

  #refresh {
    border-radius: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $accent;
      i {
        color: $white;
      }
    }

    &:focus, &:active {
      background-color: $accent-dark;
    }
  }

  .refresh-text {
    padding-top: 7px;
    padding-right: 7px;
  }
}

.feed-layout-option {
  padding: 4px;
  cursor: pointer;
  margin: 1px;

  &.active {
    color: $gray87;
    border-bottom: 1px solid $accent;
  }

  &:hover {
    color: $gray87;
  }
}

.user-feed-column {
  padding-left: 7px;
  padding-right: 7px;
}

.user-feeds {
  min-height: 60px;

  >li {
    margin-bottom: 14px;
  }

  .panel {
    margin-bottom: 0;

    .panel-heading {

      .panel-title {

      }

      .feed-icons {
        position: absolute;
        right: 5px;
        top: 0;

        .feed-icon {
          padding: 11px 5px;
          float: right;
          display: block;
          cursor: pointer;
          line-height: 16px;
          visibility: hidden;
          color: $gray12;

          &:hover {
            color: $gray54;

            &.handle .handlebar {
              background-color: $gray54;
            }
          }

          &.handle {
            width: 18px;

            &:hover {
              cursor: move;
            }

            .handlebar {
              height: 2px;
              width: 2px;
              border-radius: 1px;
              background-color: $gray12;
              float: left;
              margin: 1px;
            }
          }
        }
      }

      &:hover {
        .feed-icons {
          .feed-icon {
            visibility: visible;
          }
        }
      }
    }

    .panel-body {
      padding: 0;

      .feed-entries {
        .feed-entry {
          padding: 10px 15px;
          border-bottom: 1px dotted $gray12;
          background-color: $white;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            .entry-read-icons {
              visibility: visible;
            }
          }
          .entry-read-icons {
            float: left;
            margin-left: -12px;
            padding: 1px;
            visibility: hidden;

            i {
              font-size: 11px;
              padding: 5px 6px;
              cursor: pointer;
              display: block;
              color: $gray12;
              -webkit-transition: transform 50ms ease-out;
              -moz-transition: transform 50ms ease-out;
              -o-transition: transform 50ms ease-out;
              transition: transform 50ms ease-out;

              &:hover {
                color: $gray54;
              }
            }
          }

          .entry-snapshot {
            padding: 0 0 0 15px;
            min-height: 42px;

            .entry-meta {
              margin: 0;

              .entry-feed-title, .entry-categories-separator {
                display: none;
              }

              .entry-category {
                margin-right: 3px;
              }
            }
          }

          .entry-summary {
            margin: 0;
            padding-top: 10px;

            img {
              max-width: 100%;
              margin: 10px auto;
              box-shadow: 0 1px 1px $gray12;
              display: block;
            }

            ul, ol {
              margin-bottom: 10px;
              padding: 0 0 0 16px;
            }
          }
        }
      }
    }
  }
}

